footer {
    background-color: #353535;
    color: white;
    h2 {
        font-size: 20px;
        font-weight: 300;
        
        padding: 10px 0 0 20px;
    }
    #footer-text-weight {
        font-weight: 800;
    }
    ul {
        list-style-type: none;
        padding-left: 20px;
        padding-bottom: 5px;
        margin-bottom: 0;
        li {
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 5px;
            
            i {
                padding-right: 25px;
                width: 8px;
            }
        }
        #li-weight {
            font-weight: 400;
        }
    }
}