header {   
   .container-logo {
      box-shadow: 0 2px 2px rgb(166, 166, 166);
      scale: 1;
      align-items: center;
      display: flex;
      a {
         color: black;
         padding-left: 25px;
         padding-bottom: 15px;
      i {
         position: absolute;
         font-size: 25px;
       
      }
      }
   }
   .logo {
        margin: 0 auto;
        padding: 25px 0 10px 0;
        width: 150px;
        display: block; /*flex */
        

    }
   .gray {
   background-color: rgb(232, 229, 229);
    
   }
   .city {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    p {
      font-weight: 500;
    }
    i {
      margin-right: 15px;
    }
   }
}
