body {
    background-color: rgb(20, 20, 134);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    height: 150px;
    width: 150px;
    position: relative;
    background-color: transparent;
    outline: none;
    z-index: 1;   
}



input[type="checkbox"]:checked,
input:checked[type="checkbox"]:after,
input:checked[type="checkbox"]:before {
    background-color: #5b00ca;
}
