@import "heart-mixin.scss";

.menu {
    .all-menu {
       max-width: 1055px;
        margin: 0 auto;
        .titre_menu {
            position: relative;

            label {
                position: absolute;
                bottom: 20px;
                right: 20px;
                font-size: 25px;
                z-index: 0;

                input[type=checkbox] {
                    height: 20px;
                    width: 20px;
                    position: absolute;
                    z-index: 1;
                    bottom: 20px;
                    right: 20px;
                    display: none;
                }
                input[type="checkbox"]:checked + .heart1 {
                    opacity: 0;
                    transition: 0.3s ease-out;
                }
                
                @include heart-animation;
                .heart1 {
                    background-color: #F6F6F6;
                }
                .fa-heart {
                    cursor: pointer;
                    position: absolute;
                    right: 0px;
                    bottom: -15px;
                    transition: 0.3s ease-in;

                }
            }
        }
    }
}
