@mixin heart-animation {
    .heart1 {
        background-color: white;
        z-index: 1;
    }
    .heart2 {
        background: linear-gradient(to bottom, #9356DC, rgb(238, 130, 238));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent; /* pour cacher le texte d'origine */  
    }
}