.loader {
    position: fixed;
    background-color: rgba(177, 175, 175, 0.5);
    height: 100vh;
    width: 100%;
    cursor: progress;
    z-index: 3;
    animation: loader-visibility 2s ease-out;
    opacity: 0;
    pointer-events: none;
     
    .chargement {
        border: 10px solid rgba(177, 175, 175, 0);
        border-top: 10px solid #003A68;
        border-bottom: 10px solid #9356DC;
        border-left: 10px solid #89C8FA;
        border-radius: 50%;
        height: 120px;
        width: 120px;
        box-sizing: border-box;
        position: absolute;
        top: calc(50vh - 60px);
        left: calc(50vw - 60px);
        animation: loading 1.5s linear 4;
    }
    
}
  @keyframes loading {
     0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
 }

 @keyframes loader-visibility {
    0% { opacity: 1; pointer-events: all; }
    98% {opacity: 1;pointer-events: all;}
     100% { opacity: 0; }
}