.restaurant {
  background-color: rgb(247, 245, 245);
  padding: 20px 20px 70px 20px;
  margin: 80px auto 0 auto;
}
.restaurant h3 {
  font-weight: bold;
  font-size: 25px;
}
.restaurant .restaurant-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.restaurant .restaurant-list .restaurant-card {
  position: relative;
  background-color: white;
  height: 200px;
  width: 100%;
  border-radius: 15px;
}
.restaurant .restaurant-list .restaurant-card a {
  text-decoration: none;
  color: black;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.restaurant .restaurant-list .restaurant-card a #news {
  position: absolute;
  right: 15px;
  background-color: #99E2D0;
  padding: 5px 10px 5px 10px;
  color: #356156;
  font-weight: bolder;
}
.restaurant .restaurant-list .restaurant-card input[type=checkbox] {
  height: 10px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  width: 10px;
  position: absolute;
  background-color: transparent;
  transform: rotate(45deg);
  outline: none;
  z-index: 1;
  bottom: 20px;
  right: 20px;
  -webkit-appearance: none;
}
.restaurant .restaurant-list .restaurant-card input[type=checkbox]:before {
  position: absolute;
  outline: none;
  content: "";
  background-color: transparent;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-left: 2px solid black;
  height: 59%;
  width: 97%;
  border-radius: 75px 75px 0 0;
  bottom: 97%;
  left: -20%;
}
.restaurant .restaurant-list .restaurant-card input[type=checkbox]:after {
  position: absolute;
  outline: none;
  content: "";
  background-color: transparent;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  height: 97%;
  width: 59%;
  top: -20%;
  border-radius: 75px 0 0 75px;
  right: 97%;
}
.restaurant .restaurant-list .restaurant-card input:checked[type=checkbox]:after {
  border-left: 2px solid #5b00ca;
  border-top: 2px solid #5b00ca;
  border-bottom: 2px solid #5b00ca;
}
.restaurant .restaurant-list .restaurant-card input:checked[type=checkbox] {
  border-bottom: 2px solid #5b00ca;
  border-right: 2px solid #5b00ca;
}
.restaurant .restaurant-list .restaurant-card input:checked[type=checkbox]:before {
  border-right: 2px solid #5b00ca;
  border-top: 2px solid #5b00ca;
  border-left: 2px solid #5b00ca;
}
.restaurant .restaurant-list .restaurant-card input[type=checkbox]:checked,
.restaurant .restaurant-list .restaurant-card input:checked[type=checkbox]:after,
.restaurant .restaurant-list .restaurant-card input:checked[type=checkbox]:before {
  background-color: #5b00ca;
}
.restaurant .restaurant-list .restaurant-card img {
  width: 100%;
  height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}
.restaurant .restaurant-list .restaurant-card .restaurant-text h4,
.restaurant .restaurant-list .restaurant-card .restaurant-text p {
  margin: 0;
}
.restaurant .restaurant-list .restaurant-card .heart-visibility {
  font-size: 25px;
  z-index: 2;
  pointer-events: none;
}
.restaurant .restaurant-list .restaurant-card .heart-visibility .heart2 {
  display: none;
  z-index: 1;
}
.restaurant .restaurant-list .restaurant-card .heart-visibility:active .heart1 {
  display: none;
  z-index: 1;
}
.restaurant .restaurant-list .restaurant-card .heart-visibility:active .heart2 {
  display: block;
  z-index: 2;
  color: #9356DC;
  transition: 1s ease-in;
}/*# sourceMappingURL=restaurant.css.map */