
h2 {
  font-family: 'Shrikhand';
  margin: 0;
  font-weight: lighter;
}
button, h5, li {
  font-family: 'Roboto';
  font-weight: 500;
  
}
button {
  width: 200px;
  background: linear-gradient(#E570DA, #9356DC);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 9px 0;
  transition:
    width 1s,
    height 1s,
    opacity 0.9s;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
  transform: scale(1.03);
  opacity: 0.7;
}


h1 {
  font-family: 'Roboto';
  font-weight: 700;
}

#price {
  font-weight: 700;
}

h4 {
  font-family: 'Roboto';
  font-weight: 500;
}


p, h3  {
  font-family: 'Roboto';
  font-weight: 300;
}
