
h2 {
  font-family: 'Shrikhand';
  margin: 0;
  font-weight: lighter;
}
button, h1, h5, li {
  font-family: 'Roboto';
  font-weight: 500;
  
}

h4 {
  font-family: 'Roboto';
}


p, h3  {
  font-family: 'Roboto';
font-weight: 300;
}
