.home_page {
    z-index: 0;
    .container_img {
        height: 200px;
        img {
            width: 100%;
            height: 200px;
            object-fit: cover;

        }
    }
}

.menu {

    .container_img {
        height: 330px;
        z-index: 0;
        position: relative;

        img {
            width: 100%;
            height: 380px;
            object-fit: cover;

        }
    }

    .all-menu {
        background-color: #F6F6F6;
        z-index: 1;
        position: relative;
        border-radius: 40px 40px 0 0;
        justify-content: center;
        padding-bottom: 35px;
        height: auto;


        .titre_menu {
            width: 90%;
            margin: 0 auto;
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        .plats {
            width: 90%;
            margin: 0 auto 40px auto;
            h3 {
                text-transform: uppercase;
                border-bottom: 3px solid #99E2D0;
                width: 48px;
            }
          
            .plats-grille {
                display: flex;
                flex-direction: column;
                gap: 12px;           
                                    
                .sous-plats {

                    &:hover {
                        .check-hover {
                            transform: translateX(-100%);                           
                        }
                        .price {
                            transform: translateX(-240%);                           

                        }
                        
                    }  
                    display: flex;
                    justify-content: space-between;                  
                    z-index: 3;
                    transform: translateX(180%);
                    background-color: white;
                    padding: 15px;
                    position: relative;
                    border-radius: 15px;
                    box-shadow: 0px 7px 5px #aba8a8;
                    overflow: hidden;
                    .card-text, .card-text:hover {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                   
                    .price {        
                        // height: 100%;       
                        position: relative;
                        // right: 20px;
                       top: 20px;
                        transition: 1s;
                    }

                    .check-hover {
                        transition: 1s;
                        position: absolute;
                        top: 0;
                        right: -70px;
                        width: 70px;
                        font-size: 25px;
                        height: 100%;
                        background-color: #99E2D0;
                        border-radius: 0px 10px 10px 0px;
                        i {
                            position: absolute;
                            top: 10px;
                            width: 30px;
                            height: 30px;
                            margin: auto;
                            right: 0; left: 0; bottom: 0;
                            color: white;

                        }
                    }

                    h4,
                    h3,
                    p {
                        margin: 0;
                    }
                    p {
                        font-size: 15px;
                    }

                    h4 {
                        font-size: 18px;
                    }

                    .text-price {
                        padding-top: 5px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                

                    }

                }
            }
        }
        button {
            display: flex;
            margin: 0 auto;
            width: 150px;
           justify-content: center;
        }
    }
}

@for $i from 1 through 4 {
    .sous-plats:nth-child(#{$i}) {
       animation: slide-animation 1s ($i * 0.5s) forwards;
    }
  }


@keyframes slide-animation {
    0% { position: relative;
        
        transform: translateX(+150%);
    }
    100% {
        transform: translateX(0%);

    }
}
